<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="benrm1" connectionString="Server=db.jakewalker.xyz;Database=benrm1;Username=benrm;Password=tiWuSIMo4IBo" providerName="System.Data.SqlClient"/>
  </connectionStrings>-
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>